<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit Recipe</h1>
    <form method="POST" action="/recipes/<%= rec._id %>?_method=PUT">

        <h3>Recipe Id:  <%= rec._id %></h3>

        <label for="name">Recipe Name:</label>
        <input type="text" id="name" name="name" value="<%= rec.name %>" required><br><br>

        <label for="description">Description: </label>
        <textarea id="description" name="description" rows="4" cols="50" required><%= rec.description %></textarea><br><br>

        <label for="ingredients">Ingredients (separate with commas): </label>
        <input type="text" id="ingredients" name="ingredients" value="<%= rec.ingredients %>" required><br><br>

        <label for="imageUrl">Image URL:  </label>
        <input type="text" id="imageUrl" name="imageUrl" value="<%= rec.imageUrl %>" required><br><br>


        <button type="submit">Update Recipe</button>
    </form>
</body>
</html>
